In [5]:
import pandas as pd
import glob
import os

todos_archivos = glob.glob(
    "./entrenamiento_IA_parte_*.csv"
)


lista_archivos = [ ]
for f in todos_archivos:
    data = pd.read_csv(f)
    nombre = os.path.basename(f)
    data['source_file'] = nombre
    
    lista_archivos.append(data)

df = pd.concat(lista_archivos)
df

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df.replace('0000-00-00', '1900-01-01', inplace= True)
df

,id,fecha_entrega,fecha_ultima,fecha_penultima,fecha_antepenultima,kms_ultima,kms_penultima,kms_antepenultima,dias_para_5000,source_file
0,1,1900-01-01,2022-03-29,2021-11-03,1900-01-01,123344,115231,0,175,entrenamiento_IA_parte_2.csv
1,2,1900-01-01,2021-09-27,2021-08-19,1900-01-01,112446,109473,0,138,entrenamiento_IA_parte_2.csv
2,3,1900-01-01,2021-03-31,1900-01-01,1900-01-01,135976,0,0,129,entrenamiento_IA_parte_2.csv
3,4,1900-01-01,2021-03-05,1900-01-01,1900-01-01,191772,0,0,155,entrenamiento_IA_parte_2.csv
4,5,1900-01-01,2022-03-25,2022-03-11,1900-01-01,22,2,0,42,entrenamiento_IA_parte_2.csv
...,...,...,...,...,...,...,...,...,...,...
11696,11697,1900-01-01,2020-01-03,2018-05-25,2017-01-24,82641,56205,37364,98,entrenamiento_IA_parte_6.csv
11697,11698,1900-01-01,2016-07-02,2016-06-04,2015-07-07,10453,9786,4998,134,entrenamiento_IA_parte_6.csv
11698,11699,1900-01-01,2015-12-21,1900-01-01,1900-01-01,163769,0,0,166,entrenamiento_IA_parte_6.csv
11699,11700,1900-01-01,2018-02-07,2018-02-03,2016-07-30,28231,28139,16101,66,entrenamiento_IA_parte_6.csv
11700,11701,2015-01-03,2015-01-03,1900-01-01,1900-01-01,4608,0,0,166,entrenamiento_IA_parte_6.csv

In [ ]:
df['fecha_entrega'] = pd.to_datetime(df['fecha_entrega'], errors='coerce')
df['fecha_ultima'] = pd.to_datetime(df['fecha_ultima'], errors='coerce')
df['fecha_penultima'] = pd.to_datetime(df['fecha_penultima'], errors='coerce')
df['fecha_antepenultima'] = pd.to_datetime(df['fecha_antepenultima'], errors='coerce')

df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 231390 entries, 0 to 11700
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   231390 non-null  int64
 1   fecha_entrega        231390 non-null  datetime64[ns]
 2   fecha_ultima         231390 non-null  datetime64[ns]
 3   fecha_penultima      231390 non-null  datetime64[ns]
 4   fecha_antepenultima  231390 non-null  datetime64[ns]
 5   kms_ultima           231390 non-null  int64
 6   kms_penultima        231390 non-null  int64
 7   kms_antepenultima    231390 non-null  int64
 8   dias_para_5000       231390 non-null  int64
 9   source_file          231390 non-null  object
dtypes: datetime64[ns](4), int64(5), object(1)
memory usage: 19.4+ MB

,id,fecha_entrega,fecha_ultima,fecha_penultima,fecha_antepenultima,kms_ultima,kms_penultima,kms_antepenultima,dias_para_5000,source_file
0,1,1900-01-01,2022-03-29,2021-11-03,1900-01-01,123344,115231,0,175,entrenamiento_IA_parte_2.csv
1,2,1900-01-01,2021-09-27,2021-08-19,1900-01-01,112446,109473,0,138,entrenamiento_IA_parte_2.csv
2,3,1900-01-01,2021-03-31,1900-01-01,1900-01-01,135976,0,0,129,entrenamiento_IA_parte_2.csv
3,4,1900-01-01,2021-03-05,1900-01-01,1900-01-01,191772,0,0,155,entrenamiento_IA_parte_2.csv
4,5,1900-01-01,2022-03-25,2022-03-11,1900-01-01,22,2,0,42,entrenamiento_IA_parte_2.csv
...,...,...,...,...,...,...,...,...,...,...
11696,11697,1900-01-01,2020-01-03,2018-05-25,2017-01-24,82641,56205,37364,98,entrenamiento_IA_parte_6.csv
11697,11698,1900-01-01,2016-07-02,2016-06-04,2015-07-07,10453,9786,4998,134,entrenamiento_IA_parte_6.csv
11698,11699,1900-01-01,2015-12-21,1900-01-01,1900-01-01,163769,0,0,166,entrenamiento_IA_parte_6.csv
11699,11700,1900-01-01,2018-02-07,2018-02-03,2016-07-30,28231,28139,16101,66,entrenamiento_IA_parte_6.csv
11700,11701,2015-01-03,2015-01-03,1900-01-01,1900-01-01,4608,0,0,166,entrenamiento_IA_parte_6.csv

In [ ]:
df.describe()

,id,fecha_entrega,fecha_ultima,fecha_penultima,fecha_antepenultima,kms_ultima,kms_penultima,kms_antepenultima,dias_para_5000
count,231390.000000,231390,231390,231390,231390,2.313900e+05,2.313900e+05,2.313900e+05,231390.000000
mean,24698.520174,1945-02-21 20:20:25.857642752,2019-11-26 19:10:59.883313664,1979-05-26 11:06:32.532088768,1961-04-09 18:45:48.004667456,1.091912e+05,5.167717e+04,3.941611e+04,97.605960
min,1.000000,1900-01-01 00:00:00,2015-01-02 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,15.000000
25%,9642.000000,1900-01-01 00:00:00,2017-03-30 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00,2.041300e+04,0.000000e+00,0.000000e+00,56.000000
50%,20799.000000,1900-01-01 00:00:00,2019-12-19 00:00:00,2017-02-06 00:00:00,2015-03-20 00:00:00,4.982300e+04,1.334450e+04,2.000000e+00,98.000000
75%,37074.750000,2015-03-09 00:00:00,2022-08-26 00:00:00,2021-03-13 00:00:00,2019-07-31 00:00:00,9.363875e+04,5.454825e+04,3.442650e+04,139.000000
max,73231.000000,2023-12-06 00:00:00,2023-11-01 00:00:00,2023-10-31 00:00:00,2023-10-30 00:00:00,1.100001e+09,1.100001e+09,1.100001e+09,180.000000
std,18256.216979,NaN,NaN,NaN,NaN,5.656717e+06,3.124844e+06,3.119268e+06,47.892964